<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <div class="container">
        <center>
            <h1><u><i>Personal Expense Tracker</i></u></h1>
            <br><br>
            <hr>
            <p>Have an account?</p>
            <button type="submit"><a href="/members/login_user">Login</a></button>
            <p>Have an account?</p>
            <button type="submit"><a href="/members/signup">Sign Up</a></button>
        </center>
    </div>
</body>
</html>