<html lang="en">
    {% extends 'authenticate/layout.html' %}
    {% load static %}
    {% block start %}
    <!-- <center>
        <h1><u><i>Registration form</i></u></h1>
        <br>
    </center> -->
    <!-- <div class="container">
        <form action="/members/signup/" method="post">
            {% csrf_token %}
            <div class="names">
                <label for="user_name"><b>Full Name: </b></label>
                <input  type="text" size="50" required name="user_name"><br><hr>


                <label for="email"><b>Email: </b></label>
                <input type="text" required name="email"><br>
                <br><hr>
                <label for="password"><b>Password: </b></label>
                <input type="password" required name="password1">
                <br><hr>
                <label for="conf_pass"><b>Confirm Password: </b></label>
                <input type="password" required name="password2">
                <br><hr>

                <center>
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </center>
            </div>
        </form>
    </div> -->
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
          <div class="front">
            <img src="{% static 'members/img/frontImg.jpg' %}" alt="">
            <div class="text">
              <span class="text-1">TraXpense <br> Welcomes You</span>
              <span class="text-2">Let's get connected</span>
            </div>
          </div>
        </div>
        <div class="forms">
          <div class="form-content">
            <div class="login-form">
        <div class="signup-form">
            <div class="title">Signup</div>
          <form method="post">
            {% csrf_token %}
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-user"></i>
                  <input type="text" name="user_name" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="text" name="email"  placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                  <i class="fas fa-lock"></i>
                  <input type="password" placeholder="Enter your password"  name="password1" required>
                </div>
                <div class="input-box">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Enter your password"  name="password2" required>
                  </div>
                <div class="button input-box">
                  <input type="submit" value="Sumbit">
                </div>
                <div class="text sign-up-text">Already have an account? <a href="/members/login_user">Login Now</a></div>
              </div>
        </form>
      </div>
      </div>
    </div>
</div>
      <style>
        body {
          background-image: url("{% static 'members/img/exp1.jpg' %}");
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
        }
        </style>	
        <body>
        </body>
    </body>
    {% endblock %}
</html>
